source /opt/antigen/antigen.zsh
    
# Load the oh-my-zsh's library
antigen use oh-my-zsh

antigen bundle <<EOBUNDLES
    # Bundles from the default repo (robbyrussell's oh-my-zsh)
    git
    heroku
    pip
    lein
    command-not-found
    github
    screen
    debian
    encode64
    asdf
    rails
    bundler
    ruby
    nvm
    docker
    
    # Syntax highlighting bundle.
    zsh-users/zsh-syntax-highlighting

    # Fish-like auto suggestions
    zsh-users/zsh-autosuggestions

    # Extra zsh completions
    zsh-users/zsh-completions
EOBUNDLES

# Load the theme
antigen theme pygmalion

# Tell antigen that you're done
antigen apply